.card {
    border-radius: 0.3rem;
    border: 1px solid #444;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.card-header {
    color: #fff;
    background-color: #444;
    padding: 1rem;
}

.card-content {
    background-color: #303030;
    color: #fff;
    padding: 1rem;
}
