.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-main {
    position:fixed;
    background: #303030;
    width: auto;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 0.3rem;
    border: 1px solid #444;
    padding: 1rem;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}
