nav {
    background-color: #303030;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 1rem;
}

a {
    color: #fff;
}

.nav-bar-content {
    justify-content: flex-start;
}

.nav-bar-content :not(:first-child) {
    padding-left: 10px;
}

.nav-bar-content-right {
    justify-content: flex-end;
    padding-left: 1rem;
}

