.temperature {
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px) {
    .temperature {
        flex-direction: column;
    }
}

.temperature-card-content {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-weight: bold;
}
