/* https://bootswatch.com/darkly/ */
body {
    background-color: #222;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    color: #fff;
    border-collapse: collapse;
    border-spacing: 2px;
    width: 100%;
    border-color: grey;
    text-align: left;
}

thead {
    vertical-align: middle;
    border-bottom: 2px solid #444;
}

th {
    border-top: 1px solid #444;
    padding: 0.75rem;
}

td {
    border-top: 1px solid #444;
    padding: 0.75rem;
}
